@font-face {font-family: Economica; font-style: normal; font-weight: bold; src: url(../fonts/Economica-Regular.ttf);}
@font-face {font-family: 'Roboto Condensed'; font-style: normal; font-weight: bold; src: url(../fonts/RobotoCondensed-Regular.ttf);}
html {background-color:#e9eaed;}
body {text-align:center; font-size:62.5%; overflow:auto;}
#page {overflow:hidden;}
p {font-size:1.6em; font-family: 'Roboto Condensed', Arial, sans-serif; line-height:1.6em; margin:1px 1px 15px 1px; text-align:justify; color:#403f3f;}
li {font-family: 'Roboto Condensed', Arial, sans-serif; color:#403f3f;}
h1 {font-size:2.5em; font-family:font-family: Economica, sans-serif; line-height:2.0em; margin-bottom:10px; color:#403f3f;}
h2 {font-size:2.2em; font-family:font-family: Economica, sans-serif; line-height:1.8em; margin-bottom:10px; color:#403f3f;}
h3 {font-size:1.9em; font-family:font-family: Economica, sans-serif; line-height:1.7em; margin-bottom:10px; color:#403f3f;}
header {background:url(../imagenes/bg-header.png) repeat-x top left; height:111px; overflow:hidden; margin-bottom:15px;}
#cabeza {width:980px; margin:0 auto; text-align:left;}
#cabeza #logo {float:left; width:50%; height:100%; position:relative; top:5px;}
#logo img {float:left;}
#logo h1 {float:left; position:relative; left:10px; top:20px; color:#fff;}
#logo span {float:left; position:relative; left:97px; top:-30px; color:#fff; display:block; clear:both; font-size:1.6em; letter-spacing:1.5px; word-spacing:2px;}
#cabeza #user {float:right; width:220px; position:relative; top:7px;}
#user img {float:left; margin-right:5px;}
#user ul {float:left; margin:10px;}
#user li {color:#fff; padding:2px 1px; font-family: 'Roboto Condensed', Arial, sans-serif; line-height:1.2em; font-size:1.6em;}
#user li a {color:#fff;}
.contenedor {width:980px; margin:0 auto; text-align:left;}
.btn-opciones {transition:all 1.5; background: #eaeaea; background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 100%); background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 100%); background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 100%); background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); border-radius:4px; box-shadow:0px 0px 4px #979797; padding:5px 20px; font-size:1.6em; font-family: 'Roboto Condensed', Arial, sans-serif; color:#3f3e3e; text-decoration:none; margin:10px 1px;}
.btn-opciones:hover {transition:all 1.5; background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); background: -webkit-linear-gradient(top, #ffffff 0%,#eaeaea 100%); background: -o-linear-gradient(top, #ffffff 0%,#eaeaea 100%); background: -ms-linear-gradient(top, #ffffff 0%,#eaeaea 100%); background: linear-gradient(to bottom, #ffffff 0%,#eaeaea 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); box-shadow:0px 0px 6px #aaa; color:#000;}
.clear {clear:both; display:inline-block;}
.nuevo {background:url(../imagenes/noticia-nueva.png) no-repeat right 5px;}
.panel {background-color:#fff; border-radius:7px; box-shadow:0px 0px 5px #ADADAD; padding:15px; margin:5px 0px 20px; overflow:hidden;}
.panel img {margin:5px; border:5px solid #fff; box-shadow:0px 0px 5px #999; padding:1px;}
.panel .no-img {margin:0px; border:none; box-shadow:none; padding:0px;}
.panel p {display:block; clear:both;}
.panel a {color:#47619f; text-decoration:none; border-bottom:1px dotted #47619f;}
.panel a:hover {border:none;}
.boton {background-color:#6c84b8; padding:8px 20px; border:1px solid #304685; box-shadow:0px 0px 4px #B4B4B4; display:inline-block; font-size:1.6em; line-height:1.5em; border-radius:3px; color:#fff!important; margin:10px;}
.boton:hover {background-color:#435b9a; border:1px solid #304685!important;}
.derecha {float:right;}
.izquierda {float:left;}
form {overflow:hidden; clear:both;}
form ul {margin:10px 1px 15px; overflow:hidden;}
form ul li {position:relative;}
label {font-size:1.6em;}
input[type=text], form input[type=tel], form input[type=password], form input[type=serch], form input[type=email] {border:1px solid #686868; box-shadow:0x 0px 4px #B3B3B3; font-size:1.6em; padding:5px; border-radius:5px; margin:1px 5px; background-color:#f5f5f5; height:30px; max-width:400px; min-width:250px; margin:0px 10px; outline:none;}
input[type=text]:focus, form input[type=tel]:focus, form input[type=password]:focus, form input[type=serch]:focus, form input[type=email]:focus {background-color:#fff;}
input[type=checkbox] {padding:3px; width:20px; height:20px; margin:5px;}
label {margin:5px; display:inline;}
.login-option {background-color:#eee; border:1px solid #9D9D9D; border-radius:3px; padding:3px; margin:0px 3px;}
.login-option label {position:relative; top:-3px;}
.tabla {font-size:1.6em; font-family: 'Roboto Condensed', Arial, sans-serif; line-height:1.5em;}
.tabla th {background-color:#435b9a; color:#fff; padding:10px 4px; text-align:center;}
.tabla td {padding:7px 10px;}
.tabla tr:nth-child(odd) {background:#e9eaed}
ul.botones-accion li a {overflow:hidden; display:block; border:none;}
ul.botones-accion li {float:right; padding:1px 5px; position:relative;}
.btn-printer {background:url(../imagenes/printer-icon.png) no-repeat top left transparent; width:42px; height:35px; transition:linear 0.5s;}
.btn-printer:hover {background:url(../imagenes/printer-icon-hover.png) no-repeat top left; transition:linear 0.5s;}
.btn-pdf {background:url(../imagenes/pdf-icon.png) no-repeat top left transparent; width:29px; height:35px; transition:linear 0.5s;}
.btn-pdf:hover {background:url(../imagenes/pdf-icon-hover.png) no-repeat top left transparent; transition:linear 0.5s;}
.btn-subcat {background:url(../imagenes/sub-categorias-icon.png) no-repeat top left transparent; width:38px; height:35px; transition:linear 0.5s;}
.btn-subcat:hover {background:url(../imagenes/sub-categorias-icon-hover.png) no-repeat top left transparent; transition:linear 0.5s;}
footer {display:block; clear:both; margin:20px 0px; overflow:hidden;}
footer .contenedor p {color:#989797;}
footer ul {position:relative; top:-40px; margin-bottom:-30px;}
footer ul li {float:left;}
footer ul li a {border:none; overflow:hidden;}
a.facebook {background:url(../imagenes/facebook-boton.png) no-repeat 0px 0px; width:32px; height:40px; display:block; text-indent:1000px; transition:all 1s;}
a.facebook:hover {background:url(../imagenes/facebook-boton.png) no-repeat 0px -39px; transition:all 0.5s;}
a.twitter {background:url(../imagenes/twitter-boton.png) no-repeat 0px 0px; width:46px; height:39px; display:block; text-indent:1000px; transition:all 0.5s;}
a.twitter:hover {background:url(../imagenes/twitter-boton.png) no-repeat 0px -45px; transition:all 0.5s;}
#menu-left {text-align:left; margin:0!important;}
#menu-left li {height:45px; margin:10px 0px;}
span.config {background:url(../imagenes/config-menu-icon.png) no-repeat 8px 1px; padding-left:60px!important; display:block!important; overflow:hidden!important; font-weight:bold!important; font-size:1.4em!important;}
li.noticias {background:url(../imagenes/botones-menu.png) no-repeat 5px 0px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.perfil {background:url(../imagenes/botones-menu.png) no-repeat 5px -45px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.academico {background:url(../imagenes/botones-menu.png) no-repeat 5px -90px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.pagos {background:url(../imagenes/botones-menu.png) no-repeat 5px -135px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.ayuda {background:url(../imagenes/botones-menu.png) no-repeat 5px -188px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.cerrar {background:url(../imagenes/botones-menu.png) no-repeat 5px -235px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.app {background:url(../imagenes/botones-menu.png) no-repeat 5px -280px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.accesos {background:url(../imagenes/botones-menu.png) no-repeat 5px -326px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.rendimiento {background:url(../imagenes/botones-menu.png) no-repeat 5px -374px; overflow:hidden; padding-left:40px!important; transition:linear 0.5s;}
li.noticias:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px 0px; transition:linear 0.5s;}
li.perfil:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -45px; transition:linear 0.5s;}
li.academico:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -90px; transition:linear 0.5s;}
li.pagos:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -135px; transition:linear 0.5s;}
li.ayuda:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -188px; transition:linear 0.5s;}
li.cerrar:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -235px; transition:linear 0.5s;}
li.app:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -280px; transition:linear 0.5s;}
li.accesos:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -326px; transition:linear 0.5s;}
li.rendimiento:hover {background:url(../imagenes/botones-menu-hover.png) no-repeat 5px -374px; transition:linear 0.5s;}
.burbuja {background-color:#9c9c9c; width:25px; color:#fff; float:right; text-align:center; border-radius:3px;}
.alerta {background-color:#fff; width:850px; margin:0 auto; padding:10px; overflow:hidden; border:3px solid #133783; text-align:left; position:absolute; z-index:100; margin:0 auto; border-radius:3px; visibility:hidden;}
.contenido-mensaje {clear:both; padding:10px 1px;}
.alerta h2 {padding-left:55px; margin:5px 0px;}
.basebajo h2 {background:url(../imagenes/alertas-base-datos.png) no-repeat 0px -103px; height:45px;}
.basemedio h2 {background:url(../imagenes/alertas-base-datos.png) no-repeat 0px -52px; height:45px;}
.basealto h2 {background:url(../imagenes/alertas-base-datos.png) no-repeat 0px 0px; height:45px;}
.mtiempo h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -433px; height:50px;}
.mprinter h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -497px; height:50px;}
.macademico h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -580px; height:50px;}
.minterfaz h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -288px; height:63px;}
.mdownload h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -362px; height:50px;}
.mdocumento h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -220px; height:60px;}
.mprofesor h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px 0px; height:50px;}
.mpago h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -69px; height:50px;}
.meliminar h2 {background:url(../imagenes/menasjes-sistema.png) no-repeat 0px -149px; height:52px;}
.login-option {padding: 0.25em 0.5em 0.5em;}
.login-option input {vertical-align: baseline;}
.cerrar-ventana img {box-shadow:none!important; border:none!important;}
.invisible {display:none;}
.visible {display:block;}
@media only screen and (max-width: 900px) {
html {overflow:scroll;}
body {width:100%; position:absolute; overflow:hidden;}
#cabeza {width:100%; padding:1%;}
.contenedor {width:95%; margin:0 auto; overflow:auto;}
.alerta {width:90%;}
#cabeza #user {width:40%;}
footer {overflow:hidden;}
}
@media only screen and (max-width: 768px) {
.tem {display:none;}
}
@media only screen and (max-width: 640px) {
#logo h1 {float:left; font-size:1.7em; font-weight:bold;}
#user li {font-size:1.5em;}
#cabeza #user {width:50%;}
#cabeza #logo {width:50%;}
.botones-accion {clear:both; float:none!important; overflow:auto; margin:10px inherit;}
input[type=text], form input[type=tel], form input[type=password], form input[type=serch], form input[type=email] {margin:5px inherit;}
.alerta {width:85%;}
.boton, .btn-opciones {font-size:1.75em;}
.btn-opciones {padding:10px 20px;}
}
@media only screen and (max-width: 350px) {
#cabeza #user {width:95%;}
#cabeza #logo {display:none;}
}